#page-blocks-int_partnercourse-courses h2.main {
	display: block;
	margin: 0px;
	margin-bottom: -5px;
	height: 24px;
	line-height: 24px;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	width: 379px;
	background: url([[pix:theme|tableheader]]) top left no-repeat;	
}

#page-blocks-int_partnercourse-courses div.no-overflow {
border-top: 4px solid #f07d00;
	-webkit-border-top-left-radius: 4px;
-webkit-border-top-right-radius: 4px;
-moz-border-radius-topleft: 4px;
-moz-border-radius-topright: 4px;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
}

#page-blocks-int_partnercourse-courses table.int_partneruser tr td {
	border-color: #e8e9e9;
}


/**
 * Moodle Forms
 */
#id_first_enrol_partnercourse_user,
#id_second_enrol_partnercourse_user	{
	border: 0px solid red;
	padding:0;
	margin:0;width:100%;
}


#id_first_enrol_partnercourse_user .fitem .fitemtitle,
#id_second_enrol_partnercourse_user .fitem .fitemtitle {
	width: 200px; 
	min-height: 25px;
	text-align: left; 
	background-color: #eee; 
}

#id_second_enrol_partnercourse_user .fitem .fitemtitle {
	width: 120px; 
}

#id_first_enrol_partnercourse_user .fitemtitle label,
#id_second_enrol_partnercourse_user .fitemtitle label{
	margin-left: 10px;
	margin-top: 5px;
	display:inline-block;	
}

#id_first_enrol_partnercourse_user .felement select, input[type=text]{
	width:250px;	
	margin-left: 10px;
}

#id_first_enrol_partnercourse_user .title,
#id_second_enrol_partnercourse_user .title{
	border-bottom: 1px solid #eee;
	padding:5px;
	margin-bottom: 15px;
	width:100%;
	color: #9a9a9a;	
}

#id_second_enrol_partnercourse_user #fitem_id_enrolfrom,
#id_second_enrol_partnercourse_user #fitem_id_enrolto{
	float: left; 
	width: 250px;
}


#id_second_enrol_partnercourse_user #id_enrolfrom, #id_enrolto {
	 background: white url([[pix:theme|calendar]]) right no-repeat;
	 padding-right: 20px;
}


#fgroup_id_datagrp .fitemtitle{display:none;}
#fgroup_id_datagrp .felement {border-bottom: 1px solid #eee;}
#fgroup_id_datagrp .accesshide {display:block;}

#enrol_partnercourse .collapsible-actions {display:none;}
