#page-blocks-int_partnerdoc-courses h2.main {
	display: block;
	margin: 0px;
	margin-bottom: -5px;
	height: 24px;
	line-height: 24px;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	width: 379px;
	background: url([[pix:theme|tableheader]]) top left no-repeat;	
}

#page-blocks-int_partnerdoc-courses div.no-overflow {
border-top: 4px solid #f07d00;
	-webkit-border-top-left-radius: 4px;
-webkit-border-top-right-radius: 4px;
-moz-border-radius-topleft: 4px;
-moz-border-radius-topright: 4px;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
}

#page-blocks-int_partnerdoc-courses table.int_partneruser tr td {
	border-color: #e8e9e9;
}


/* Profil osk*/

#page-blocks-int_partnerdoc-osk .mform .first_line,
#page-blocks-int_partnerdoc-osk .mform .second_line {
	width: 100%;
	float: left;	
}

#page-blocks-int_partnerdoc-osk .mform label {
	font-size:0.9em;
}

#page-blocks-int_partnerdoc-osk .mform .fitem .fitemtitle {
	width:15%;
	text-align:left;
	float:left;
	background: #e5e5e5;	
	height: 20px;
}

#page-blocks-int_partnerdoc-osk .mform .fitem .felement,
#page-blocks-int_partnerdoc-osk .mform .fitem .fgroup {
	margin: 0;
	display: inline;
}

#page-blocks-int_partnerdoc-osk .mform .fitem .felement select,
#page-blocks-int_partnerdoc-osk .mform .fitem .felement input,
#page-blocks-int_partnerdoc-osk .mform .fitem .felement textarea {
	margin-left: 10px;
}

#page-blocks-int_partnerdoc-osk .mform .main .fitem .felement select{
	width: 195px;
}

#page-blocks-int_partnerdoc-osk .mform .main .fitem .felement input[type="text"],
#page-blocks-int_partnerdoc-osk .mform .main .fitem .felement textarea,
#page-blocks-int_partnerdoc-osk .mform .book .fitem .felement input[type="text"] {
	width: 190px;
}

#page-blocks-int_partnerdoc-osk .mform .fitem .fitemtitle label {
	margin: 3px 10px;
	display:inline-block;		
}

#page-blocks-int_partnerdoc-osk .mform .contact .fitem .felement input[type="text"] {
	width: 190px;
}

#page-blocks-int_partnerdoc-osk .mform .main .fitem .fgroup input[type="text"],
#page-blocks-int_partnerdoc-osk .mform .main .fitem .fgroup textarea {
	width: 140px;
	
}

#page-blocks-int_partnerdoc-osk .mform .main .fitem .fgroup input[type="checkbox"] {
	margin: 0px 0px 0px 5px;
	padding: 0px;
}

#page-blocks-int_partnerdoc-osk .mform .fitem .fgroup {
	width: 230px;
	margin: 0px;
}

#page-blocks-int_partnerdoc-osk .mform .main .fitem fieldset{
	margin: 0px;
	padding: 0px;	
}

#page-blocks-int_partnerdoc-osk .mform .main .fitem .fgroup div{
	margin: 0px;
	padding: 0px;
	display: inline;
}


#page-blocks-int_partnerdoc-osk .mform .title {	
	border-bottom: 2px solid #cecece;
	color: #cecece;
	font-weight: bold;	
	padding: 2px;		
}

#page-blocks-int_partnerdoc-osk .mform .fitem label {
	display:inline; 
	float:none; 
	vertical-align:baseline;
}

#page-blocks-int_partnerdoc-osk h2.main {
	display: block;
	margin: 0px;
	margin-bottom: -5px;
	height: 24px;
	line-height: 24px;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	width: 379px;
	background: url([[pix:theme|tableheader]]) top left no-repeat;
	
}

/* main */
#page-blocks-int_partnerdoc-osk .mform .main {
	float: left;
	width: 50%;
	margin-top: 10px;	
}

#page-blocks-int_partnerdoc-osk .mform .main .fitem .fitemtitle {
	width: 210px;
	text-align: left;	
	padding: 0px;
	margin: 0px;
}

/* contact */
#page-blocks-int_partnerdoc-osk .mform .contact {
	float: left;
	width: 45%;
	margin-top: 10px;	
	margin-left: 20px;
}

#page-blocks-int_partnerdoc-osk .mform .contact .fitem .fitemtitle {
	width: 210px;
	text-align: left;	
	padding: 0px;
	margin: 0px;
}

/* book */
#page-blocks-int_partnerdoc-osk .mform .book {
	float: left;
	width: 45%;
	margin-top: 10px;	
	margin-left: 20px;
}

#page-blocks-int_partnerdoc-osk .mform .book .fitem .fitemtitle {
	width: 210px;
	text-align: left;	
	padding: 0px;
	margin: 0px;
}

/* logo */
#page-blocks-int_partnerdoc-osk .mform .logo {
	float: left;
	width: 45%;
	margin-top: 10px;	
	margin-left: 20px;
}

#page-blocks-int_partnerdoc-osk .mform .logo .fitem .fitemtitle {
	width: 210px;
	text-align: left;	
	padding: 0px;
	margin: 0px;
}



#page-blocks-int_partnerdoc-osk .mform .fitem_fsubmit {
	padding: 10px;	
	width: 98%;
}

#page-blocks-int_partnerdoc-osk .mform .fbutton {
	padding: 5px;
	float: right;
}


