

#page-blocks-int_partneruser-search div.region-content  div.add_user_form {
	display: block;
	width: 422px;
	height: 334px;
	margin: 0 auto;
	background: transparent url('/blocks/int_partneruser/pix/add_coursant.png') top no-repeat;
	position: relative;
}


#page-blocks-int_partneruser-search div.region-content input[type="submit"] {
	border: none;
	background: #fff url([[pix:theme|submit-button]]) center repeat-x;
	-webkit-box-shadow: 2px 2px 6px rgba(50, 50, 50, 0.46);
	-moz-box-shadow: 2px 2px 6px rgba(50, 50, 50, 0.46);
	box-shadow: 2px 2px 6px rgba(50, 50, 50, 0.46);

	height: 22px;
	line-height: 22px;
	font-size: 12px;
	padding-left: 6px;
	padding-right: 6px;
	margin: 0px;
	font-weight: bold;
	cursor: pointer;
	margin-top: 10px;
	margin-bottom: 10px;
}

#page-blocks-int_partneruser-search div#fitem_id_firstname label {
	display: block;
	position: absolute;
	top: 76px;
	left: 64px;
	font-size: 14px;
	font-weight: bold;
	color: #6E6F71;
}

#page-blocks-int_partneruser-search div#fitem_id_lastname label {
	display: block;
	position: absolute;
	top: 130px;
	left: 64px;
	font-size: 14px;
	font-weight: bold;
	color: #6E6F71;
}

#page-blocks-int_partneruser-search div#fitem_id_pesel label {
	display: block;
	position: absolute;
	top: 188px;
	left: 64px;
	font-size: 14px;
	font-weight: bold;
	color: #6E6F71;
}
#page-blocks-int_partneruser-search
span#id_error_firstname {
	display: block;
	position: absolute;
	top: 86px;
	left: 184px;
	opacity: 0.8;
}
#page-blocks-int_partneruser-search
span#id_error_lastname {
	display: block;
	position: absolute;
	top: 140px;
	left: 274px;
	opacity: 0.8;
}
#page-blocks-int_partneruser-search span#id_error_pesel,
#page-blocks-int_partneruser-search #fitem_id_pesel span.error{
	display: block;
	position: absolute;
	top: 198px;
	left: 234px;
	opacity: 0.8;
}

#page-blocks-int_partneruser-search div#fitem_id_firstname .felement input {
	position: absolute;
	margin: 0px;
	left: 60px;
	top: 97px;
	width: 198px;
	height: 24px;
	padding: 0px 4px;
	border: none;
	background: none;
	line-height: 24px;
	font-size: 12px;
	color: #666;
}

#page-blocks-int_partneruser-search div#fitem_id_lastname .felement input {
	position: absolute;
	margin: 0px;
	left: 60px;
	top: 149px;
	width: 292px;
	height: 24px;
	padding: 0px 4px;
	border: none;
	background: none;
	line-height: 24px;
	font-size: 12px;
	color: #666;
}

#page-blocks-int_partneruser-search div#fitem_id_pesel .felement input {
	position: absolute;
	margin: 0px;
	left: 60px;
	top: 208px;
	width: 292px;
	height: 24px;
	padding: 0px 4px;
	border: none;
	background: none;
	line-height: 24px;
	font-size: 12px;
	color: #666;
}
#page-blocks-int_partneruser-search #fitem_id_submitbutton input {
	position: absolute;
	top: 240px;
	left: 147px;
}

#page-blocks-int_partneruser-search div.fdescription.required {
	position: absolute;
	top:296px;
	right: 34px;
}

#page-blocks-int_partneruser-search .naglowek h2.main {
	display: block;
	position: absolute;
	left: 34px;
	color: #fff;
	top: 4px;
	margin: 0px;
}

#page-blocks-int_partneruser-users h2.main {
	display: block;
	margin: 0px;
	margin-bottom: -5px;
	height: 24px;
	line-height: 24px;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	width: 379px;
	background: url([[pix:theme|tableheader]]) top left no-repeat;
	
}

#page-blocks-int_partneruser-users div.no-overflow {
	border-top: 4px solid #f07d00;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

#page-blocks-int_partneruser-users table.int_partneruser tr td {
	border-color: #e8e9e9;
}

#page-blocks-int_partneruser-user div {
	border: 0px solid red;	
}

#page-blocks-int_partneruser-user .mform .fitem .fitemtitle {
}

#page-blocks-int_partneruser-user .mform label {
	font-size:0.9em;
}

#page-blocks-int_partneruser-user .mform .fitem .fitemtitle {
	width:15%;
	text-align:left;
	float:left;
	background: #e5e5e5;	
	height: 20px;
}

#page-blocks-int_partneruser-user .mform .fitem .fitemtitle label {
	margin: 3px 10px;
	display:inline-block;	
}

#page-blocks-int_partneruser-user .mform .person {
	border: 0px solid red;
}

#page-blocks-int_partneruser-user .mform .title {	
	border-bottom: 2px solid #cecece;
	color: #cecece;
	font-weight: bold;	
	padding: 2px;		
}

#page-blocks-int_partneruser-user .mform .fitem label {
	display:inline; 
	float:none; 
	vertical-align:baseline;
}

/* person */

#page-blocks-int_partneruser-user .mform .person {
	float: left;
	width: 45%;
	margin-top: 10px;	
}

#page-blocks-int_partneruser-user .mform .person .fitem .fitemtitle {
	width: 210px;
	text-align: left;	
	padding: 0px;
	margin: 0px;
}

#page-blocks-int_partneruser-user .mform #fitem_id_profile_field_pesel {
	float: left;
	width: 49%;
	margin: 0;
	pading: 0;
}

#page-blocks-int_partneruser-user .mform #fitem_id_profile_field_pesel input{
	margin-left: 10px;
	margin-bottom: 1px;
}

#page-blocks-int_partneruser-user .mform .person #fitem_id_profile_field_pesel .fitemtitle{
	display:none; 
}


/* address */

#page-blocks-int_partneruser-user .mform .address {
	float: left;
	width: 45%;
	margin-top: 10px;
	margin-left: 9%;
}

#page-blocks-int_partneruser-user .mform .address .fitem .fitemtitle {
	width: 210px;
	text-align: left;	
	padding: 0px;
	margin: 0px;
}


/* auth */

#page-blocks-int_partneruser-user .mform .auth {
	float: left;
	width: 45%;
	margin-top: 10px;
}


#page-blocks-int_partneruser-user .mform .auth .fitem .fitemtitle {
	width: 170px;
	text-align: left;	
	padding: 0px;
	margin: 0px;
}

#page-blocks-int_partneruser-user .mform .auth .fitem .felement {
	margin: 0;
	display: inline;
}


#page-blocks-int_partneruser-user .mform .auth .category {
	float: left;	
	width: 230px;
	border: 1px solid #cecece;
	margin-left: 10px;
	padding: 5px;
}


#page-blocks-int_partneruser-user .mform .auth .category .fitem {
	display: inline;
	padding: 0px;	
	margin-left: 5px;
	border: 0px solid red;
}

#page-blocks-int_partneruser-user .mform .auth .category .fitem .fitemtitle {
	display: none;
}


#page-blocks-int_partneruser-user .mform .auth .category .fitem .fcheckbox input {
	margin: 0;
	padding: 0;	
}


/* certificate */


#page-blocks-int_partneruser-user .mform .certificate {
	float: left;
	width: 45%;
	margin-top: 10px;
	margin-left: 9%;
}

#page-blocks-int_partneruser-user .mform .certificate .fitem {
	display: inline;
	margin-top: 5px;
}


#page-blocks-int_partneruser-user .mform .certificate .fitem .fitemtitle {
	width: 170px;
	text-align: left;	
	padding: 0px;
	margin: 0px;
}

#page-blocks-int_partneruser-user .mform .certificate .fitem .felement {
	margin: 0;
	display: inline;
}


#page-blocks-int_partneruser-user .mform .certificate .category {
	float: left;	
	width: 160px;
	border: 1px solid #cecece;
	margin-left: 10px;
	padding: 5px;
}


#page-blocks-int_partneruser-user .mform .certificate .category .fitem {
	display: inline;
	padding: 0px;	
	margin-left: 5px;	
}

#page-blocks-int_partneruser-user .mform .certificate .category .fitem .fitemtitle {
	display: none;
}


#page-blocks-int_partneruser-user .mform .certificate .category .fitem .fcheckbox input {
	margin: 0;
	padding: 0;	
}

#page-blocks-int_partneruser-user .mform .certificate .nrswiadectwano,
#page-blocks-int_partneruser-user .mform .certificate .katswiadectwano {
	margin-left: 5px;
	font-size:0.9em;
	border: 0px solid #cecece;
	display: inline-block;
}

#page-blocks-int_partneruser-user .mform .person .peselno .fitemtitle,
#page-blocks-int_partneruser-user .mform .certificate .nrswiadectwano .fitemtitle,
#page-blocks-int_partneruser-user .mform .certificate .katswiadectwano .fitemtitle {
	display: none;
}


#page-blocks-int_partneruser-user .mform .certificate .nrswiadectwano .felement,
#page-blocks-int_partneruser-user .mform .certificate .katswiadectwano .felement {

}

#page-blocks-int_partneruser-user .mform .person .peselno .felement input {
	position: relative;
	top: 3px;
}


#page-blocks-int_partneruser-user .mform .certificate .katswiadectwano {
	margin-left: 7px;
	margin-top: 15px;
}


#page-blocks-int_partneruser-user .mform .calendar {
	 background: white url([[pix:theme|calendar]]) right no-repeat;
	 
}

#page-blocks-int_partneruser-user .mform .fitem_fsubmit {
	padding: 10px;	
	width: 98%;
}

#page-blocks-int_partneruser-user .mform .first_line,
#page-blocks-int_partneruser-user .mform .second_line {
	width: 100%;
	float: left;
}

#page-blocks-int_partneruser-user .mform .fbutton {
	padding: 5px;
	float: right;
}

#page-blocks-int_partneruser-user .mform .person .ftext {	
	float: left;
	margin: 0;
	padding: 0;
	width: 215px;
}

#page-blocks-int_partneruser-user .mform .address .ftext {	
	float: left;
	margin: 0;
	padding: 0;
	width: 215px;
}

#page-blocks-int_partneruser-user .mform #fgroup_id_citygrp fieldset {	
	width: 49%;
	margin: 0;
	padding: 0;	
}
